# Imports

In [8]:
import pandas as pd
import re

# Preporocessing

## Reading the DataFrame

In [2]:
books = pd.read_csv("books_for_home.csv")
books.head()

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Date Started,Date Completed
0,The Lightning Tree,"Rothfuss, Patrick",NaN,NaN,93,4.00,2156,2014,"Apr 16, 2022","Apr 16, 2022"
1,What If? Serious Scientific Answers to Absurd ...,"Munroe, Randall",9.780544e+12,0544272994,303,4.14,151303,"Sep 02, 2014",not set,not set
2,"Leviathan Falls (The Expanse, #9)","Corey, James S.A.",9.780357e+12,0356510395,528,4.54,31066,"Nov 30, 2021",not set,not set
3,"Tiamat's Wrath (The Expanse, #8)","Corey, James S.A.",9.780316e+12,0316332879,534,4.57,47842,"Mar 26, 2019",not set,not set
4,"Persepolis Rising (The Expanse, #7)","Corey, James S.A.",9.780316e+12,0316332828,608,4.37,53386,"Dec 05, 2017","Jun 02, 2022",not set

## Author Name

In [3]:
def create_name(name):
    return name.split(", ")[1] + " " + name.split(", ")[0]

In [4]:
books["Author"] = books["Author"].apply(create_name)
books.head()

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Date Started,Date Completed
0,The Lightning Tree,Patrick Rothfuss,NaN,NaN,93,4.00,2156,2014,"Apr 16, 2022","Apr 16, 2022"
1,What If? Serious Scientific Answers to Absurd ...,Randall Munroe,9.780544e+12,0544272994,303,4.14,151303,"Sep 02, 2014",not set,not set
2,"Leviathan Falls (The Expanse, #9)",James S.A. Corey,9.780357e+12,0356510395,528,4.54,31066,"Nov 30, 2021",not set,not set
3,"Tiamat's Wrath (The Expanse, #8)",James S.A. Corey,9.780316e+12,0316332879,534,4.57,47842,"Mar 26, 2019",not set,not set
4,"Persepolis Rising (The Expanse, #7)",James S.A. Corey,9.780316e+12,0316332828,608,4.37,53386,"Dec 05, 2017","Jun 02, 2022",not set

## Extraing the Information About Book Name

### Series

In [7]:
books["Book Name"][10]

"Caliban's War (The Expanse, #2)"

In [54]:
series_reg = re.compile(r"""
    \((.*), ## series name,
    """,
    re.VERBOSE)
series_reg.findall(books["Book Name"][10])[0]

'The Expanse'

In [80]:
def get_series(name):
    series_reg = re.compile(r"""
    \((.*), ## series name,
    """,
    re.VERBOSE)
    series_name = series_reg.findall(name)
    if len(series_name) > 0:
        return series_name[0]
    else:
        return "Standalone"

In [82]:
books["Series"] = books["Book Name"].apply(get_series)
books.head()

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Date Started,Date Completed,Name,Series
0,The Lightning Tree,Patrick Rothfuss,NaN,NaN,93,4.00,2156,2014,"Apr 16, 2022","Apr 16, 2022",The Lightning Tree,Standalone
1,What If? Serious Scientific Answers to Absurd ...,Randall Munroe,9.780544e+12,0544272994,303,4.14,151303,"Sep 02, 2014",not set,not set,What If? Serious Scientific Answers to Absurd ...,What If?
2,"Leviathan Falls (The Expanse, #9)",James S.A. Corey,9.780357e+12,0356510395,528,4.54,31066,"Nov 30, 2021",not set,not set,Leviathan Falls,The Expanse
3,"Tiamat's Wrath (The Expanse, #8)",James S.A. Corey,9.780316e+12,0316332879,534,4.57,47842,"Mar 26, 2019",not set,not set,Tiamat's Wrath,The Expanse
4,"Persepolis Rising (The Expanse, #7)",James S.A. Corey,9.780316e+12,0316332828,608,4.37,53386,"Dec 05, 2017","Jun 02, 2022",not set,Persepolis Rising,The Expanse

### Entry In Series

In [65]:
entry_reg = re.compile(r"""
    \#(\d) ## word,
    """,
    re.VERBOSE)
entry_reg.findall(books["Book Name"][10])[0]

'2'

In [83]:
def get_entry_in_series(name):
    entry_reg = re.compile(r"""
    \#(\d) ## word,
    """,
    re.VERBOSE)
    entry_in_series = entry_reg.findall(name)
    if len(entry_in_series) > 0:
        return int(entry_in_series[0])
    else:
        return 1

In [86]:
books["Volume"] = books["Book Name"].apply(get_entry_in_series)
books.head()

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Date Started,Date Completed,Name,Series,Volume
0,The Lightning Tree,Patrick Rothfuss,NaN,NaN,93,4.00,2156,2014,"Apr 16, 2022","Apr 16, 2022",The Lightning Tree,Standalone,1
1,What If? Serious Scientific Answers to Absurd ...,Randall Munroe,9.780544e+12,0544272994,303,4.14,151303,"Sep 02, 2014",not set,not set,What If? Serious Scientific Answers to Absurd ...,What If?,1
2,"Leviathan Falls (The Expanse, #9)",James S.A. Corey,9.780357e+12,0356510395,528,4.54,31066,"Nov 30, 2021",not set,not set,Leviathan Falls,The Expanse,9
3,"Tiamat's Wrath (The Expanse, #8)",James S.A. Corey,9.780316e+12,0316332879,534,4.57,47842,"Mar 26, 2019",not set,not set,Tiamat's Wrath,The Expanse,8
4,"Persepolis Rising (The Expanse, #7)",James S.A. Corey,9.780316e+12,0316332828,608,4.37,53386,"Dec 05, 2017","Jun 02, 2022",not set,Persepolis Rising,The Expanse,7

### Name

In [75]:
name_reg = re.compile(r"""
    (.*)\s\( ## word,
    """,
    re.VERBOSE)
name_reg.findall(books["Book Name"][10])

["Caliban's War"]

In [78]:
def get_name(name):
    name_reg = re.compile(r"""
    (.*)\s\( ## word,
    """,
    re.VERBOSE)
    try:
        return name_reg.findall(name)[0]
    except:
        return name

In [79]:
books["Name"] = books["Book Name"].apply(get_name)
books.head()

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Date Started,Date Completed,Name
0,The Lightning Tree,Patrick Rothfuss,NaN,NaN,93,4.00,2156,2014,"Apr 16, 2022","Apr 16, 2022",The Lightning Tree
1,What If? Serious Scientific Answers to Absurd ...,Randall Munroe,9.780544e+12,0544272994,303,4.14,151303,"Sep 02, 2014",not set,not set,What If? Serious Scientific Answers to Absurd ...
2,"Leviathan Falls (The Expanse, #9)",James S.A. Corey,9.780357e+12,0356510395,528,4.54,31066,"Nov 30, 2021",not set,not set,Leviathan Falls
3,"Tiamat's Wrath (The Expanse, #8)",James S.A. Corey,9.780316e+12,0316332879,534,4.57,47842,"Mar 26, 2019",not set,not set,Tiamat's Wrath
4,"Persepolis Rising (The Expanse, #7)",James S.A. Corey,9.780316e+12,0316332828,608,4.37,53386,"Dec 05, 2017","Jun 02, 2022",not set,Persepolis Rising

## Making DateTime Objects

In [88]:
def create_datetime(date):
    try:
        return pd.to_datetime(date)
    except:
        return None

In [90]:
books["Publication Date"] = books["Publication Date"].apply(create_datetime)
books["Date Started"] = books["Date Started"].apply(create_datetime)
books["Date Completed"] = books["Date Completed"].apply(create_datetime)

In [91]:
books.head()

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Date Started,Date Completed,Name,Series,Volume
0,The Lightning Tree,Patrick Rothfuss,NaN,NaN,93,4.00,2156,2014-01-01,2022-04-16,2022-04-16,The Lightning Tree,Standalone,1
1,What If? Serious Scientific Answers to Absurd ...,Randall Munroe,9.780544e+12,0544272994,303,4.14,151303,2014-09-02,NaT,NaT,What If? Serious Scientific Answers to Absurd ...,What If?,1
2,"Leviathan Falls (The Expanse, #9)",James S.A. Corey,9.780357e+12,0356510395,528,4.54,31066,2021-11-30,NaT,NaT,Leviathan Falls,The Expanse,9
3,"Tiamat's Wrath (The Expanse, #8)",James S.A. Corey,9.780316e+12,0316332879,534,4.57,47842,2019-03-26,NaT,NaT,Tiamat's Wrath,The Expanse,8
4,"Persepolis Rising (The Expanse, #7)",James S.A. Corey,9.780316e+12,0316332828,608,4.37,53386,2017-12-05,2022-06-02,NaT,Persepolis Rising,The Expanse,7

## Saving the DataFrame

In [96]:
books.to_csv("Books_Final.csv", index=False)